
<!DOCTYPE html>
<html>
<head>
	<title>Hangman</title>
	<link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>
	<div id="container">
		<div id="header">
			<h1>James's Hangman Game</h1>
		</div>
		<div id="content">
			<div id="gallows">
				<p>
				<img id="picture" src="/images/<%= session[:guess_count] %>.jpg" alt="gallows img" style="width:300px;height:300px;"/>
				</p>
			</div>
			<div id="guess">
				<% if @message %>
					<p><%= @message %></p>
				<% end %>	

				<p><%= @progess %></p>
<!--				<p><%= @secret_word %></p>   -->
			</div>
			<div id= "keyboard">
				<p>Please input your guess. </p>
				<form action="/guess" method="post">
					<input type="text" name="guess">
					<input type="submit">
				</form>
			</div>			
		</div>
	</div>

</body>
</html>