body {
	background-color: #e29d36;
}

#progress {

	background-color: #e29d36;
	font-size: 2em;
}

#container {

	background-color: #e29d36;
	width: 900px;
	margin-left: auto;
	margin-right: auto;

}

#header  {
	background-color: #628cd1;
	color: white;
	text-align: center;
}

#gallows {
	
	background-color: #628cd1;
	width: 440px;
	float: left;

}

#guess {
	
	background-color: #628cd1;
	width: 440px;
	float: right;
	font-size: 2em;
	height: 352px;
	

}

#input {
	background-color: #628cd1;
	clear: both;
	font-size: 1.5em;

}

#content {
	padding: 10px;

}



p {
	padding: 10px;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form {
	padding-bottom: 10px;
	padding-left: 20px;
}