body {
	background-color: #51f1af;
}

#container {

	background-color: #51f1af;
	width: 900px;
	margin-left: auto;
	margin-right: auto;

}

#header  {
	background-color: #628cd1;
	color: white;
	text-align: center;
}

#gallows {
	
	background-color: #cdddf7;
	width: 440px;
	float: left;

}

#guess {
	
	background-color: #628cd1;
	width: 440px;
	float: right;
	font-size: 2em;

}

#keyboard {
	background-color: #628cd1;
	clear: both;

}

#content {
	padding: 10px;

}
p {
	padding: 10px;
}